table{
	text-align: left;
	border-spacing: 0px;
	border-color: black;
	border-style: unset;

}

div{
	margin: 10px;
}
#accept{
	background-color: #36A4EC;
	color: white;
	height: 30px;
	margin: 10px;
}

#cancel{
	background-color: #f4f4f4;
	color: black;
	height: 30px;
	margin: 10px;
}
