body{
	background-color: #f4f4f4;
}



/* TRANSICIONES ANIMADAS*/

.box{
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
	height: 100px;
	position: relative;
	left: 50px;
	top: 50px;
	width: 100px;
	transition: 0.3s;
	transition-delay: 0.2s;
}

.box:hover{
	transform: scale(1.05,1.05);

	background-color: rgba(0,0,0,0.5);
}









/* TRANSFORMACIONES EN 3 DIMENSIONES*/

/*
.box{
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
	height: 100px;
	position: relative;
	left: 50px;
	top: 50px;
	width: 100px;
	transform: rotateX(70deg);
	transform: rotateY(180deg);

	}

	*/




				/* TRASNFORM EN CSS
				SE USA EN ELEMENTOS CON DISPLAY BLOCK
				*/

/*	
			.box{
					background-color: white;
					box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
					height: 100px;
					position: relative;
					left: 50px;
					top: 50px;
					width: 100px;
					transform: rotate(-45deg);
					transform: translate(100px,-10px);
					/*para deformar el objeto
					transform: skew(25deg,5deg);
									

				}
				*/
				/*
				.box:hover{
					transform: scale(2,2);
					transform: scaleX(2);
				}
				*/




 			/* SOMBRAS 
			
			para recibir sombra por dentro
			box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;

			sombra por fuera
			box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	
			*/
/*

.box{


	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

}

.text{
	color: white;
	text-shadow: 1px 1px 0px green;
}

*/



		/*GRADIENTE DE COLORES SE UTILIZA CON IMAGE
		background-image: linear-gradient(direccion, primercolor,segundocolor);
		tambien se pueden usar angulos
		*/
/*
.fondo{
	background-image: linear-gradient(0deg,rgba(255,0,0,0.3),yellow);
	con repeating se usa al final el x% para saber cada que se va a repetir 
	background-image: repeating-linear-gradient(0deg,rgba(255,0,0,0.3),yellow 20%);

	}*/





/*
.fondo{
	background-color: rgba(0,0,255,0.4);
	formato hsl, desde 0 hasta 360 
	background-color: hsl(110,40%,50%);
	opacity: 1;
}

*/




/*.fondo{

	height: 500px;
	color: black;
	
	background-color: #ccc;
	background-image: url(https://placekitten.com/g/200/300);
	background-repeat: repeat-x; 
	background-repeat: no-repeat;
	background-position: top left;
	PARA QUE SE VEA QUE BAJA CUANDO HACES SCROLL 
	background-attachment: scroll;
	background-size: cover;
	
/*	PARA PONER TODOS LAS PROPIEDADES PASADAS EN UN SOLO COMANDO SE DEBE DE HACER DE ESTA MANERA
	USANDO EL MISMO ORDEN 
		
	background: green url(https://placekitten.com/g/400/400) no-repeat left top fixed;
	background-size: cover;

	

}*/